/* -- Header -- */

header {
    background-color: #009ddc;
}

header img {
    height: 3em;
    aspect-ratio: 1;
    object-fit: contain;
}

/* -- Footer -- */

footer {
    background-color: #009ddc;
}

/* -- Main -- */

#brand {
    background: url('img/momo-brand.webp') center / cover no-repeat;
}

article {
    width: 90%;
}

article img {
    width: 90%;
}

/* ===== Responsive ===== */

/* -- Large screens -- */

@media screen and (min-width: 992px) {

    /* -- Bootstrap missing -- */
    
    .w-lg-50 {
        width: 50%;
    }

    /* -- Main -- */

    article {
        width: 30em;
    }

}
